<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http//www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
	<div layout:fragment="content">
		<div class="wrapper">
			<div class="content-wrapper">
				<!-- Content Header (Page header) -->
				<section class="content-header">
					<div class="container-fluid">
						<div class="row mb-2">
							<div class="col-sm-6">
								<h1>ENREGISTRER LES NOTES</h1>
							</div>
							<div class="col-sm-6">
								<ol class="breadcrumb float-sm-right">
									<li class="breadcrumb-item"><a href="#">Home</a></li>
									<li class="breadcrumb-item active">GESTION DES NOTES</li>
								</ol>
							</div>
						</div>
					</div>
					<!-- /.container-fluid -->
				</section>
				<!-- Main content -->
				<section class="content">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-3">
								<div class="card">
									<div class="card-header">
										<h3 class="card-title">LISTE DES CLASSES</h3>

										<div class="card-tools">
											<button type="button" class="btn btn-tool"
												data-card-widget="collapse">
												<i class="fas fa-minus"></i>
											</button>
										</div>
									</div>
									<div class="card-body p-0" >
										<ul class="nav nav-pills flex-column" >
											<li class="nav-item" th:each="c: ${listeClasse}"><a class="nav-link"
												 th:value="${c.idClasse}" 
												th:text="${c.classeName}" th:href="@{/findByClasse(idClasse=${c.idClasse})}"> <i class=" nav-link fas fa-inbox"></i>
											 <span class="badge bg-primary float-right"></span>
											</a></li>

										</ul>
									</div>
									<!-- /.card-body -->
									
								</div>
								
							</div>
							<!-- /.col -->
 <div class="col-md-9">
            <div class="card card-primary card-primary">
              <div class="card-header">
                <h3 class="card-title">PALMARES</h3>
              </div>
              <!-- /.card-header -->
              <form th:action="@{/saveNotes}" method="post" th:object="${re}">
              <div class="card-body">
              <div th:if="${listeEl}">
               <div class="row">
                 <div class="col-sm-3">
                      <!-- select frequence -->
                      <div class="form-group">
                        <label>CONTROLE/MENSUEL:</label>
                         <select class="form-control" name="frequence" >                                          
										<optgroup style="color:red" label="MENSUEL">
										                    <option style="color:black" value="">SELECTIONNER</option>														    
															<option style="color:black" value="Janvier">Janvier</option>
															<option style="color:black" value="Fevrier">Fevrier</option>
															<option style="color:black" value="Mars">Mars</option>
															<option style="color:black" value="Avril">Avril</option>
															<option style="color:black" value="Mai">Mai</option>
															<option style="color:black" value="Juin">Juin</option>
															<option style="color:black" value="Juillet">Juillet</option>
															<option style="color:black" value="Aout">Aout</option>
															<option style="color:black" value="Septembre">Septembre</option>
															<option style="color:black" value="Octobre">Octobre</option>
															<option style="color:black" value="Novembre">Novembre</option>
															<option style="color:black" value="Decembre">Decembre</option>
										</optgroup>	
										<optgroup style="color:red" label="CONTROLE">														    
															<option style="color:black" value="1er Controle">1er Controle</option>
															<option style="color:black" value="2eme Controle">2eme Controle</option>
															<option style="color:black" value="3eme Controle">3eme Controle</option>
															<option style="color:black" value="4eme Controle">4eme Controle"</option>
										</optgroup>														
						</select>
						
                      </div>
                      
                    </div>
                    
                     <div class="col-sm-3">
                      <!-- select matiere-->
                      <div class="form-group">
                        <label>MATIERE</label>
                        <select class="custom-select" name="matiere" >
                          <option value="">-SELECT-</option>
                            <th:block th:each="m:${listeMat}">
						  <option  th:text="${m.nomMatiere}" th:value="${m.idMatiere}" ></option>
                        </select>
                      </div>
                    </div>
                    
                    
                    <div class="col-sm-3">
                     <!-- input classe-->
                <div class="form-group">
                 <label>CLASSE</label>
                  <input th:object="${cls}"  th:field="*{classeName}"  class="form-control" readonly>
                  <input type="hidden" th:object="${cls}"  th:field="*{idClasse}" name="idClasse" >
                  
                </div>
                </div>
                
                      <div class="col-sm-3">
                      <!-- select annee academique-->
                      <div class="form-group">
                        <label>ANNEE ACADEMIQUE</label>
                        <select class="custom-select" name="anneeAcad">
                          <option value="">-SELECT-</option>
                            <th:block th:each="anne:${listAnnee}">
						  <option  th:text="${anne.anneeAC}" th:value="${anne.idAcad}"></option>
                        </select>
                      </div>
                    </div>
                
                </div>
                <div th:each="el, ele:${listeEl}" class="form-group">
                   <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label" th:value="${el.idPerson}"></label>
                    <div class="col-sm-3">
                     <input type="hidden" th:value="${el.idPerson}"  th:text= "|${el.nom} ${el.prenom}|" class="form-control" readonly>
                     <input type="hidden"  th:value="${el.idPerson}"  name="idPerson"  class="form-control" >
                     
                    </div>
                    <div class="col-sm-5">
                      <input name="note" class="form-control" id="inputEmail3" value="0">
                    </div> 
                  </div> 
                </div>
                <!-- /.card-body -->
										<div class="card-footer">
											<button type="submit" class="btn btn-primary">Submit</button>
										</div>
              </div>
              </div>
              </form>
              <!-- /.card-body -->
              <!-- /.card-footer -->
            </div>
            <!-- /.card -->
          </div>
							<!-- /.col -->
						</div>
						<!-- /.row -->
					</div>
					<!-- /.container-fluid -->
				</section>
			</div>
		</div>
	</div>
	
	
</body>
</html>