<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http//www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
	<div layout:fragment="content">
		<div class="wrapper">
			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">
				<section class="content-header">
					<div class="container-fluid">
						<div class="row mb-2">
							<div class="col-sm-6">
								<h1>
									Paiement 
								</h1>
							</div>
							<div class="col-sm-6">
								<ol class="breadcrumb float-sm-right">
									<li class="breadcrumb-item"><a href="#">Home</a></li>
									<li class="breadcrumb-item active">Gestion des paiements</li>
								</ol>
							</div>
						</div>
					</div>
					<!-- /.container-fluid -->
				</section>
				<section class="content">
					<div class="container-fluid">
						<div class="row">
							<!-- left column -->
							<div class="col-md-12">
								<!-- jquery validation -->
				<!-- /.content-wrapper -->
				<div class="card card-primary">
					<div class="card-header">
						<h3 class="card-title">
							Ajouter Paiements
						</h3>
					</div>
 <div class="card-body">
        <div class="container">
    <div class="form-group">  
                     


     <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column --><!-- 1ere partieeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee -->
          <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Entrer code de l'Eleve</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form th:action="@{/findByCode}" method="get">
                <div class="card-body">
                <div class="form-group row">
                    <label  class="col-sm-3 col-form-label">CODE ELEVE</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control form-control-border"  name="codeEleves" th:value="${codeEleves}"  placeholder="entrer le code">                      
                    </div><button type="submit" class="btn btn-primary">Ok</button>
                  </div>  
                </div>
              </form>
              <div class="text-danger" th:if="${exception}"
						th:text="${exception.message}"></div>
            </div>
            <!-- /.card -->

            <!-- 2eme partieeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee -->
            
            <!-- /.card -->
            <!-- Horizontal Form -->
            <div class="card card-primary" th:if="${eleves}">
              <div class="card-header">
                <h3 class="card-title">Information Etudiants(e)</h3>
              </div>              
              <!-- form start -->              
                <div class="card-body">
                  <div class="form-group row">
                   
                  </div>
                  
                 
				<div class="row invoice-info" >               
                <div class="col-sm-4 invoice-col">                 
                  <address>
                   <strong> Code Eleves</strong><br>
                   <strong> Nom Eleves</strong><br>
                   <strong> Prenom</strong><br>
                   <strong> Classe</strong>          
                  </address>
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                  
                  <address>
                    <strong th:text="${eleves.codeEl}" ></strong><br>
                     <strong th:text="${eleves.nom}"></strong><br>
                    <strong th:text="${eleves.prenom}" ></strong><br>
                    <strong th:text="${eleves.classe.classeName}" ></strong><br>
                    <strong></strong><br>
                    <strong></strong>                                         
                  </address>
                </div>                                
              </div>
					
                </div>
            </div>
            <!-- /.card -->
          </div>
          
         <!--  3eme partieeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee -->
          <!--/.col (left) -->
          <!-- right column -->
          <div class="col-md-6">
            <!-- general form elements disabled -->
            <div class="card card-primary"  th:if="${eleves}">
              <div class="card-header">
                <h3 class="card-title">Remplir Form Paiement</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <form th:action="@{/savePaiement}" method="post">
                  <div class="row">
                    <div class="col-sm-6">
                      <!-- text input -->
                      <div class="form-group">
                        <label>CODE	PAIEMENT</label>
                        <input type="text" class="form-control" name="codePaiement" id="codeP">
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label>NOM ELEVE</label>
                        <input type="text" th:value="|${eleves.nom} ${eleves.prenom}|" class="form-control" readonly>
                      </div>
                    </div>
                  </div>
                  

                  <div class="row">
                    <div class="col-sm-6">
                     <div class="form-group">
                        <label>MODALITE</label>
                        <select name="modalitePaiement"
								class="form-control" id="modalite">
								<option value="">-select mode de paiement-</option>
								<option th:each="t: ${ModalitePaiement}"
								th:value="${t.idPaiement}" th:text="${t.modalite}"></option>
						</select>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label>COUT</label>
                        <input type="text" class="form-control" name="cout"	id="cout" data-cout="" readonly/>
                      </div>
                    </div>
                  </div>
                  
                  
                  <div class="row">
                    <div class="col-sm-6">
                      <!-- text input -->
                      <div class="form-group">
                        <label>QUANTITE VERSE:</label>
                        <input type="text" class="form-control" name="quantiteVerser" onkeyup="myFunction(this.value);" id="qte">
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label>BALANCE</label>
                        <input type="text" id="bal" class="form-control" name="balance" readonly/>
                      </div>
                    </div>
                    </div>
                     <div class="col-sm-6" id="bourseOption">
                      <div class="form-group">                      
                        <div class="form-check" th:each="b: ${listeTypeBourse}">                                                                
                          <input disabled class="form-check-input typeB" id="bourseCout" type="radio" name="typeDeBou"   
						                                     th:text="${b.typeBourse}" th:value="${b.idType}" th:data-cout="${b.coutBourse}"/>                                                     
                        </div>                                              
                      </div>  
                  </div>
                   
                    <div class="card-footer">
                  <button type="submit" class="btn btn-info">Sign in</button>                  
                </div>
                  
                </form>
              </div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <!-- general form elements disabled -->
            
            <!-- /.card -->
          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->                         
                              
                                
                          </div>  
                       
                </div> 
</div>
</div>



				</div>
			</div>
			</div>
			</div>
			</section>
			</div>
		</div>
	</div>
	


</body>
</html>