<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http//www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">         
</head>
<body>
	<div layout:fragment="content">
		<div class="wrapper">

			<div class="content-wrapper">
				<!-- Content Header (Page header) -->
				<section class="content-header">
					<div class="container-fluid">
						<div class="row mb-2">
							<div class="col-sm-6">
								<h1>Liste des Professeurs</h1>
							</div>
							<div class="col-sm-6">
								<ol class="breadcrumb float-sm-right">
									<li class="breadcrumb-item"><a href="#">Home</a></li>
									<li class="breadcrumb-item"><a th:href="@{/AjouterProfesseur}">Ajouter Professeur</a></li>									
									<li class="breadcrumb-item active">Liste des Professeurs</li>
								</ol>
							</div>
						</div>
					</div>
					
					
					<!-- /.container-fluid -->
				</section>
				<!-- Content Wrapper. Contains page content -->
				<section class="content">
					<div class="container-fluid">
						<div class="row">
							<div class="col-12">
								<!-- Tables Data -->

								<div class="card">
									<div class="card-header">
							<a th:href="@{ajouterProfesseur}"><button type="button" class="btn btn-primary"
											data-toggle="modal" data-target="#addProf">New Prof</button></a>									
									</div>
									<!-- /.card-header -->
									<div class="card-body">
									 <!-- alert -->
									<div class="alert alert-success alert-dismissible fade show"  th:if="${success}" role="alert">
                                         <strong>Enregistrement avec success</strong> 
                                         <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                         </button>
                                     </div>
                                    <!--  alert -->
										<table id="example1"
											class="table table-bordered table-striped">
											<thead>
												<tr>
													<th>ID PROFESSEUR</th>													
													<th>CODE PROFESSEUR</th>
													<th>NOM PROFESSEUR</th>
													<th>PRENOM PROFESSEUR</th>
													<th>SEXE</th>
													<th>CLASSE</th>
													<th>LIEU NAISSANCE</th>
													<th>TELEPHONE</th>
													<th>ADRESSE</th>
													<th>EMAIL</th>
													<th>N.ETUDE</th>
													<th>REMARQUE</th>
													<th>PHOTO</th>
													<th>Action</th>
												</tr>
											</thead>
											<tbody>
									<tr th:each="pr:${listProfesseurs}">
                                   <td th:text="${pr.idPerson}"></td>                                   
                                   <td th:text="${pr.codeProf}"></td>
                                   <td th:text="${pr.nom}"></td>
                                   <td th:text="${pr.prenom}"></td>
								   <td th:text="${pr.sexe}"></td>
								   <td th:text="${pr.classe.classeName}"></td>
								   <td th:text="${pr.lieuDeNaissance}"></td>
								   <td th:text="${pr.telephone}"></td>
								   <td th:text="${pr.adresse}"></td>
								   <td th:text="${pr.emailPersonne}"></td>
								    <td th:text="${pr.niveauEd}"></td>
								    <td th:text="${pr.remarque}"></td>
								   <td>
									     <img class="img-circle" th:src="@{/getPhotoEl(idPerson=${pr.idPerson})}" width="100" height="100"/>
									</td>
                                    <td>
                                         <a th:href="@{/editeProf(idPerson=${pr.idPerson})}" class="btn btn-info"><i class="fas fa-edit"></i></a>
                                         <a th:href="@{/deleteProfesseur(idPerson=${pr.idPerson})}" class="btn btn-danger" id="deleteButtonCat"><i class="fas fa-trash"></i></a>                                         
                                    </td>
                                </tr>

											</tbody>
											<tfoot>
												<tr>
													<th>ID PROFESSEUR</th>													
													<th>CODE PROFESSEUR</th>
													<th>NOM PROFESSEUR</th>
													<th>PRENOM PROFESSEUR</th>
													<th>SEXE</th>
													<th>CLASSE</th>
													<th>LIEU NAISSANCE</th>
													<th>TELEPHONE</th>
													<th>ADRESSE</th>
													<th>EMAIL</th>
													<th>N.ETUDE</th>
													<th>REMARQUE</th>
													<th>PHOTO</th>
													<th>Action</th>
												</tr>
											</tfoot>
										</table>	
									</div>
									<!-- /.card-body -->
								</div>
								<!-- /.card -->

		<!-- /.Modal add -->
								<div class="modal fade" id="addProf" tabindex="-1"
									role="dialog" aria-labelledby="exampleModalLabel"
									aria-hidden="true">
									<form th:action="@{/saveProf}" method="post" th:object="${professeurs}" enctype="multipart/form-data">
										<div class="modal-dialog modal-lg">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="exampleModalLabel">Ajouter un Professeur</h5>
													<button type="button" class="close" data-dismiss="modal"
														aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
												</div>
												<div class="modal-body">
												<div class="row">
												<div class="col-12  col-sm-6">
													<div class="form-group">
														<label for="exampleInputEmail1">CODE</label> <input
															type="text" class="form-control"
															th:value="${genererCode1}" name="codeProf" readonly>
													</div>
													</div>

												
                                                   <div class="col-12  col-sm-6">
													<div class="form-group">
														<label for="exampleInputEmail1">NOM</label> <input
															type="text" class="form-control" name="nom" id="nomP" pattern="^[A-Z]+[ -]?[A-Z]+$" maxlength="20"  required onkeyup="this.value=this.value.toUpperCase()">
															<div class="invalid-feedback"></div>
													</div>
													</div>
												</div>
                                                
                                                <div class="row">
                                                  <div class="col-12  col-sm-6">
													<div class="form-group">
														<label for="exampleInputEmail1">PRENOM</label> <input
															type="text" class="form-control" name="prenom" id="prenomP" pattern="^[A-Z]+[ -]?[A-Z]+$" maxlength="20"  required onkeyup="this.value=this.value.toUpperCase()">
															<div class="invalid-feedback"></div>
													</div>
												   </div>
												   
												   <div class="col-12  col-sm-6">
	                                                <div class="form-group">
														<label>SEXE</label> <select  th:field="*{sexe}" class="form-control" required>
														    <option value="">-SELECT-</option>
															<option value="Masculin">Masculin</option>
															<option value="Feminin">Feminin</option>
														</select>														
													</div>
													</div>
												</div>
												
												<div class="row">
												  <div class="col-12  col-sm-6">													
													<div class="form-group">
														<label>Ecole</label> <select th:field="*{ecole}" required
															class="form-control">
															<option value="">-SELECT-</option>
															<th:block th:each="eco:${ecoleList}">
															<option th:value="${eco.idEcole}" th:text="${eco.nomEtablissement}"></option>
														</select>
													   </div>
													</div>
													

													
													<div class="col-12  col-sm-6">
													<div class="form-group">
														<label>TELEPHONE</label> 
														<div class="input-group">
														<div class="input-group-prepend">
                                                                        <span class="input-group-text"><i >+(509)</i></span>
                                                         </div>
														<input type="text" th:field="*{telephone}" class="form-control" 
															id="telephoneProf" pattern="^[0-9]{4}[ -]?[0-9]{4}$" maxlength="9" minlength="8"  required>
															<div class="invalid-feedback"></div>
														</div>
													</div>
													</div>
												 </div>
													
												  <div class="row">
												  <div class="col-12  col-sm-6">
													<div class="form-group">
														<label for="exampleInputEmail1">LIEU DE NAISSANCE</label> <input type="text" th:field="*{lieuDeNaissance}" class="form-control"
															id="lieuN" pattern="^[A-Z]+[ -]?[A-Z]+[ -]?[A-Z]+$" maxlength="35" required onkeyup="this.value=this.value.toUpperCase()">
															<div class="invalid-feedback"></div>
													</div>
													</div>
													
													<div class="col-12  col-sm-6">													
														<div class="form-group">
														<label for="exampleInputEmail1">ADRESSE</label> <input type="text" th:field="*{adresse}" class="form-control"
															id="exampleInputEmail1">
													    </div>
													   </div>
													 </div>
													 
												   <div class="row">
												   <div class="col-12  col-sm-6">												
													<div class="form-group">
														<label for="customFile">Custom File</label>
														<label>PHOTOS</label>
														<div class="custom-file">
															<input type="file" class="custom-file-input"
																id="customFile" name="photos" accept="image/png, image/jpeg"> <label
																class="custom-file-label" for="customFile">Choose
																file</label>
														</div>
													</div>
													</div>
													
													<div class="col-12  col-sm-6">													
													     <div class="form-group">
															<label for="exampleInputEmail1">EMAIL</label> <input
																type="text" name="emailPersonne" class="form-control"
																id="emailProf" pattern="^[a-z0-9._-]+@[a-z0-9._-]{2,}\.[a-z]{2,4}$" required>
																<div class="invalid-feedback"></div>
														</div>
													 </div>
													</div>
													
													<div class="row">														
													<div class="col-12  col-sm-6">
														<div class="form-group">
														<label>Classe</label>														
														 <select class="form-control" th:field="*{classe}"   required>
														 <option value="">-SELECT-</option>
														<th:block th:each="p: ${listeClasse}">														 
																<option th:text="${p.classeName}" th:value="${p.idClasse}"></option>
														</select>
													</div>
													  </div>
													  
													  <div class="col-12  col-sm-6">														
														<div class="form-group">
															<label for="exampleInputEmail1">SALAIRE</label> <input
																type="text" name="salaire" class="form-control"
																id="salaireProf" pattern="^[0-9]+[,.]?[0-9]+$" maxlength="7" required>
																<div class="invalid-feedback"></div>
														</div>
													    </div>
												  </div>

												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-secondary"
														data-dismiss="modal">Close</button>
													<button type="submit" class="btn btn-primary">Save</button>
												</div>
											</div>
										</div>
									</form>
								</div>
								
																		<!-- *************************************delete************************************ -->
<div class="modal" tabindex="-1" role="dialog" id="deleteCat">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm Delete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Voulez-vous vraiment supprimer?</p>
      </div>
      <div class="modal-footer">
        <a href="" class="btn btn-primary" id="delRef">Yes,Delete</a>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
								<!-- /.modal delete-->

							</div>
						</div>
					</div>
				</section>
				<!-- /.content-wrapper -->

			</div>
		</div>
	</div>
</body>

</html>