<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http//www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="ISO-8859-1">
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AdminLTE 3 | Log in</title>

  <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href="plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="dist/css/adminlte.min.css">
  
</head>
<body class="hold-transition login-page" style="background-image: url(frontend/images/slider/s-3.jpg)">

<div class="login-box">
  <!-- /.login-logo -->
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <a href="#" class="h4"></a>
      <div class="items-image">
                            <img src="dist/img/a.png" width="200" height="160">
                        </div>
    </div>
    <div class="card-body">
   <!--  <div class="alert alert-danger" th:if="${param.error}">
			<h4>Invalid email or password</h4>
	</div> -->
		
		<div class="alert alert-danger alert-dismissible fade show" th:if="${param.error}" role="alert">
             <strong>Invalid email or password</strong> 
             <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
             </button>
       </div>      
		
      <p class="login-box-msg">Sign in to start your session</p>
      <form th:action="@{/login}" method="post">      
        <div class="input-group mb-3">
         <input type="text" class="form-control" placeholder="username" id="username" name="email">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="Password" id="password" name="password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <div class="icheck-primary">
              <!-- <input type="checkbox" id="remember">
              <label for="remember">
                Remember Me
              </label> -->
            </div>
          </div>
          <!-- /.col -->
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

      <div class="social-auth-links text-center mt-2 mb-3">
        <a th:href="@{forgotPass}" class="btn btn-block btn-primary">
           I forgot my password
        </a>
        <a th:href="@{/register}" class="btn btn-block btn-primary">
           Register a new membership
        </a>
      </div>
      <!-- /.social-auth-links -->

      <!-- <p class="mb-1">
        <a th:href="@{forgotPass}">I forgot my password</a>
      </p>
      <p class="mb-0">
        <a th:href="@{/register}" class="text-center">Register a new membership</a>
      </p> -->
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>
<!-- /.login-box -->

<script src="plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="dist/js/adminlte.min.js"></script>


</body>
</html>